.profile-wrapper {
    width: 100%;
    height: 100%;
}

.profile {
    display: flex;
    margin-top: 20px;
    border: 1px solid #CCCCCC;
    padding: 0;
}

.profile-box--left {
    width: 23%;
    background: #CCCCCC;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 0;
}

.tablinks {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: all 0.3s ease-in-out; 
}

.tablinks:hover {
    background-color: #ddd;
    color: black;
}

.tablinks.active-tab {
    background-color: #fff;
}

.profile-box--right {
    width: 77%;
    height: 500px;
    background: #fff;
}

.profile-box--avatar {
    width: 150px;
    min-height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile-box--nick {
    margin-bottom: 40px;
}

.profile-box--tab {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.profile-box--tablinks {
    width: 100%;
    height: 50px;
    border: 0;
    background: #fff;
    margin-bottom: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table td:last-child {
    
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #18BC9C;
    color: white;
}











/* MEDIA QUERIES */

@media (min-width: 0px) and (max-width: 768px) {
    .profile {
        flex-direction: column;
    }
    
    .profile-box--left {
        width: 100%;
        height: 100%;
        margin: 15px auto;
    }
    
    .profile-box--right {
        width: 100%;
        height: 500px;
        background: #fff;
    }
}